<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<link rel="stylesheet" th:href="@{/css/aboutsite/aboutsite.css}">


<main>
    <nav th:replace="fragments/navigation :: navigation"></nav>

    <section class="hero-section" >
        <div class="container">
            <div class="row align-items-center">

                <div class="col-lg-5 col-12">
                    <h2 class="mt-2 mb-4 text-white"><span class="text-muted">About </span> HeartLink</h2>

                    <h4 class="text-muted mb-3">매니저가 만남장소에서 소개하여 신뢰할 수 있는 소개팅</h4>

                    <p>바쁜 사회생활 속 이성을 만날 기회가 줄어들고 소개팅이 생기기만을 기다리는 많은 사람들을 보았습니다. </p>
                    <p> 주위에서 결혼정보업체, 소개팅앱, 단체미팅 등 주선 서비스를 접할 수 있지만 대부분 높은 비용, 신뢰성 부족, 이익 창출만을 목적으로 하는 등 아쉬운 부분이 많았습니다.</p>
                    <p>신뢰를 바탕으로 더 좋은 서비스를 제공할 수 있도록 항상 노력하겠습니다.</p>
                </div>

                <div class="col-lg-3 col-md-5 col-5 mx-lg-auto">
                    <img src="/image/heartLinkLogo.png" class="about-image-logo about-image-small img-fluid" alt="사진">
                </div>

                <div class="col-lg-4 col-md-7 col-7">
                    <img src="/image/team_member/team_member_eunsik.jpg" class="about-image img-fluid" alt="사진">
                </div>

                <div class="company-wrap">
                    <div class="body-wrap intro-wrap">

                        <ul class="introlist ">
                            <li class="intro1">
                                <p class="introtle">설레이는 만남을 위한 선별된 회원가입(무료가입)</p>
                            </li>
                            <li class="intro2">
                                <p class="introtle">확실한 신원검증 ➡ 신뢰할 수 있는 만남</p>
                                <p>본인인증,직업인증 (모든회원)<br>혼인관계인증 (40세 이상 or 돌싱)</p>
                            </li>
                            <li class="intro3">
                                <p class="introtle">안전한 서버 관리로 개인정보 보호</p>
                                <p>다중 웹사이트 보안 시스템 적용</p>
                            </li>
                            <li class="intro4">
                                <p class="introtle">무분별한 내 프로필 노출 방지</p>
                                <p>가입 후에도 회원 프로필은 동의없이 이성에게 공개되지 않음<br>(회원이 신청시에만 선별적 공개)</p>
                            </li>
                            <li class="intro5">
                                <p class="introtle">무료 회원가입<br>다회권 이용 또는 1회씩 결제</p>
                                <p>무료 회원가입 후 합리적인 다회 매칭권 이용 또는 1회 비용 결제도 가능</p>
                            </li>
                            <li class="intro6">
                                <p class="introtle">전문 매니저에 의한 특화된 매칭시스템</p>
                                <p>내가 설정한 옵션을 만족하고 나를 좋아하는 이성과의 만남 </p>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>


</main>

<footer th:replace="fragments/footer :: footer"></footer>

<script th:src="@{/js/review/review.js}"></script>
</body>
</html>
