<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reviewMapper">

    <!-- ReviewDto에 대한 ResultMap 설정 -->
    <resultMap type="com.heartlink.review.model.dto.ReviewDto" id="reviewResultSet">
        <result column="REVIEW_NO" property="reviewNo"/>
        <result column="REVIEW_TITLE" property="reviewTitle"/>
        <result column="REVIEW_CONTENT" property="reviewContent"/>
        <result column="REVIEWER_USER_ID" property="reviewerUserId"/>
        <result column="REVIEW_RATING" property="reviewRating"/>
        <result column="REVIEW_VIEWS" property="reviewViews"/>
        <result column="REVIEW_TYPE" property="reviewType"/>
    </resultMap>

    <!-- 리뷰 리스트 가져오기 -->
    <select id="getAllReviews" resultMap="reviewResultSet">
        SELECT REVIEW_NO, REVIEW_TITLE, REVIEW_CONTENT, REVIEWER_USER_ID, REVIEW_RATING, REVIEW_VIEWS
        FROM REVIEW_BOARD
    </select>

    <!-- 리뷰 상세와 사진 가져오기 -->
    <select id="getReviewDetail" resultMap="reviewResultSet">
        SELECT REVIEW_NO, REVIEW_TITLE, REVIEW_CONTENT, REVIEWER_USER_ID, REVIEW_RATING, REVIEW_VIEWS
        FROM REVIEW_BOARD
        WHERE REVIEW_NO = #{reviewNo}
    </select>

    <select id="getReviewPhotos" resultType="string">
        SELECT PHOTO_PATH || '/' || PHOTO_NAME AS photoUrl
        FROM REVIEW_PHOTO_BOARD
        WHERE REVIEW_NO = #{reviewNo}
    </select>

    <!-- 리뷰 저장 -->
    <insert id="savePhotoReview" parameterType="com.heartlink.review.model.dto.ReviewDto">
        INSERT INTO REVIEW_BOARD (REVIEW_NO, REVIEW_TITLE, REVIEW_CONTENT, REVIEWER_USER_ID, REVIEW_TYPE )
        VALUES (REVIEW_SEQ.NEXTVAL, #{reviewTitle}, #{reviewContent}, #{reviewerUserId}, 'P')
    </insert>

    <!-- 마지막 리뷰 번호 가져오기 -->
    <select id="getLastReviewNo" resultType="string">
        SELECT REVIEW_SEQ.CURRVAL FROM DUAL
    </select>

    <!-- 리뷰 사진 저장 -->
    <insert id="saveReviewPhoto" parameterType="com.heartlink.review.model.dto.ReviewPhotoDto">
        INSERT INTO REVIEW_PHOTO_BOARD (PHOTO_NO, REVIEW_NO, PHOTO_PATH, PHOTO_NAME)
        VALUES (REVIEW_PHOTO_SEQ.NEXTVAL, #{reviewNo}, #{photoPath}, #{photoName})
    </insert>

    <!-- 조회수 증가 -->
    <update id="increaseReviewViews" parameterType="int">
        UPDATE REVIEW_BOARD
        SET REVIEW_VIEWS = REVIEW_VIEWS + 1
        WHERE REVIEW_NO = #{reviewNo}
    </update>

</mapper>
