<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>
<body>
<link rel="stylesheet" th:href="@{/css/mypage/mypage.css}">

<main>
    <nav th:replace="fragments/navigation :: navigation"></nav>

    <section class="hero-section d-flex align-items-center">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="row d-flex justify-content-center align-items-center mypage-box">

                <div class="mypage-box-container col-12 mb-4 mb-lg-0">

                    <form action="/submit" class="custom-block-edit d-flex flex-column text-left p-4" method="post">
                        <div class="text-center mb-5 pb-2">
                            <h3 class="text-white">마이페이지 수정</h3>
                            <hr class="mypage-line">
                        </div>
                        <div class="custom-block-info w-100">
                            <div class="profile-picture">
                                <!-- 추후 해당 회원 프로필 사진 표시 위치 -->
                                <img alt="프로필 사진" th:src="@{/image/review/weding-review2.jpg}">
                                <button class="btn-new-file" type="button">새 파일</button>
                            </div>
                            <p class="mb-2"><span class="label fw-bold">id :</span> <input disabled id="user-id" type="text" value="abc@gmail.com"></p>
                            <p class="mb-2"><span class="label fw-bold">pwd :</span> <input id="user-pwd" type="password" value="pwd"></p>
                            <p class="mb-2"><span class="label fw-bold">닉네임 :</span> <input id="user-nickname" type="text" value="닉네임"></p>
                            <p class="mb-2"><span class="label fw-bold">이름 :</span> <input disabled id="user-name" type="text" value="이름"></p>
                            <p class="mb-2"><span class="label fw-bold">전화번호 :</span> <input id="user-phone" readonly type="text" value="전화번호"> <button class="btn-action" type="button">전화번호 변경</button></p>
                            <p class="mb-2"><span class="label fw-bold">주소 :</span> <input id="user-address" readonly type="text" value="주소"> <button class="btn-action" type="button">주소 변경</button></p>
                            <p class="mb-2"><span class="label fw-bold">MBTI :</span> <input id="user-mbti" readonly type="text" value="MBTI"> <button class="btn-action" type="button">MBTI 검사</button></p>
                        </div>
                        <div class="form-actions d-flex justify-content-center mt-4">
                            <button class="btn-submit" type="submit">수정</button>
                            <button class="btn-cancel" onclick="location.href='/mypage/main'" type="button">취소</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </section>
</main>

<footer th:replace="fragments/footer :: footer"></footer>

<script th:src="@{/js/mypage/mypage.js}"></script>

</body>
</html>
