<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>
<body>
<link rel="stylesheet" th:href="@{/css/mypage.css}">

<main>
    <nav th:replace="fragments/navigation :: navigation"></nav>

    <section class="hero-section d-flex align-items-center">
        <div class="container d-flex justify-content-center">
            <div class="row d-flex justify-content-center align-items-center mypage-box">

                <div class="mypage-box-container col-12 mb-4 mb-lg-0">
                    <div class="text-center mb-5 pb-2">
                        <h3 class="text-white">마이페이지</h3>
                    </div>
                    <form class="custom-block d-flex flex-column align-items-start text-left p-4" method="post" action="/submit">

                        <div class="custom-block-info w-100">
                            <p class="mb-2"><span class="label">회원 id :</span> <input class="input-middle" type="text" id="user-id" value="id"></p>
                            <p class="mb-2"><span class="label">회원 pwd :</span> <input class="input-middle" type="password" id="user-pwd" value="pwd"></p>
                            <p class="mb-2"><span class="label">회원 닉네임 :</span> <input class="input-short" type="text" id="user-nickname" value="닉네임"></p>
                            <p class="mb-2"><span class="label">회원 이름 :</span> <input class="input-short" type="text" id="user-name" value="이름"></p>
                            <p class="mb-2"><span class="label">회원 주소 :</span> <input class="input-long" type="text" id="user-address" value="주소"> <button type="button" class="btn-action">주소찾기</button></p>
                            <p class="mb-2"><span class="label">회원 전화번호 :</span> <input class="input-middle" type="text" id="user-phone" value="전화번호"></p>
                            <p class="mb-2"><span class="label">회원 이메일 :</span> <input class="input-middle" type="email" id="user-email" value="이메일"></p>
                            <p class="mb-2"><span class="label">회원 MBTI :</span> <input class="input-short" type="text" id="user-mbti" value="MBTI"> <button type="button" class="btn-action">MBTI 검사</button></p>
                        </div>
                        <div class="form-actions d-flex justify-content-center mt-4">
                            <button type="submit" class="btn-submit">수정</button>
                            <button type="button" class="btn-cancel">취소</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </section>
</main>

<footer th:replace="fragments/footer :: footer"></footer>


<!-- JAVASCRIPT FILES -->
<script th:src="@{/js/reference_js/jquery.js}"></script>
<script th:src="@{/js/reference_js/jquery.min.js}"></script>
<script th:src="@{/js/reference_js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/reference_js/owl.carousel.min.js}"></script>
<script th:src="@{/js/reference_js/custom.js}"></script>

</body>
</html>
