<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<link rel="stylesheet" th:href="@{/css/review/review.css}">

<main>
    <nav th:replace="fragments/navigation :: navigation"></nav>

    <section class="hero-section d-flex align-items-center">
        <div class="container d-flex justify-content-center">
            <div class="row d-flex justify-content-center align-items-start">
                <div class="text-center mb-5 pb-2 w-100">
                    <h2 class="text-white">사진 리뷰</h2>
                    <hr class="review-line">
                </div>

                <div class="w-100 d-flex justify-content-end mb-2">
                    <button class="btn-action" onclick="location.href='/review/photoenroll'">글 쓰러가기</button>
                </div>

                <ul class="ptlist">
                    <!-- 리뷰 리스트 반복 -->
                    <li th:each="review : ${reviews}">
                        <a th:href="@{/review/photodetail(reviewNo=${review.reviewNo})}">
                            <p class="list-thumb">
                                <img th:src="${review.firstImageUrl}" alt="사진">
                            </p>
                            <div>
                                <p class="pt-title" th:text="${review.reviewTitle}"></p>
                                <p class="pt-info" th:text="${review.reviewerUserId}"></p>
                            </div>
                            <p class="b-info">
                                <span><i class="icon-users"></i> <b th:text="${review.reviewViews}"></b>명 읽음</span>
                            </p>
                        </a>
                    </li>
                </ul>

                <div class="pagination">
                    <button class="btn-action">이전</button>
                    <button class="btn-action">1</button>
                    <button class="btn-action">2</button>
                    <button class="btn-action">다음</button>
                </div>
            </div>
        </div>
    </section>
</main>

<footer th:replace="fragments/footer :: footer"></footer>

<script th:src="@{/js/review/review.js}"></script>
</body>
</html>
