<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<link rel="stylesheet" th:href="@{/css/charge/charge-main.css}"/>
<link rel="stylesheet" th:href="@{/css/mypage/mypage.css}">
<nav th:replace="fragments/navigation :: navigation"></nav>
<section class="charge-main-sec">
    <div class="container charge-out-box">
        <div th:replace="mypage/mypage_nav :: mypagenav"></div>
        <div class="charge-shop-box">
            <div class="charge-my-tabs">
                <a class="charge-tab-ico not-choice" th:href="@{/charge/shop}"> 코인 충전</a>
                <a class="charge-tab-ico" th:href="@{/charge/history}">충전 내역</a>
            </div>
            <div class="payment-history-area">
                <table class="payment-history-table">
                    <thead class="payment-history-thead">
                        <tr>
                            <th>구매일자</th>
                            <th>구매수량</th>
                            <th>결제수단</th>
                            <th>금액</th>
                            <th>결제취소</th>
                        </tr>
                    </thead>
                    <tbody class="payment-history-tbody">
                        <tr>
                            <td>2024.07.11</td>
                            <td>10개</td>
                            <td>카카오 페이</td>
                            <td>1,000원</td>
                            <td>취소불가</td>
                        </tr>
                        <tr>
                            <td>2024.07.28</td>
                            <td>30개</td>
                            <td>네이버 페이</td>
                            <td>3,000원</td>
                            <td>취소불가</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<footer th:replace="fragments/footer :: footer"></footer>
</body>