@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(/image/background-img.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.list-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

.notice-container {
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 200px;
  margin-right: 0px;
  margin-left: 0px;
  height: 940px;
  width: 1000px;
}

.notice-container h2 {
  font-size: 28px;
  color: #333;
  text-align: center;
  border-bottom: 2px solid #f2f2f2;
  padding-bottom: 20px;
}

.notice-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notice-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #f2f2f2;
  transition: background-color 0.3s;
}

.notice-item:hover {
  background-color: #f9f9f9;
}

.notice-link {
  text-decoration: none;
  color: #007bff;
  font-size: 20px;
  flex: 3;
}

.notice-link:hover {
  text-decoration: underline;
}

.notice-author, .notice-date {
  color: #555;
  font-size: 18px;
  flex: 1;
  text-align: center;
}

.notice-date {
  color: #999;
  font-size: 16px;
  flex: 1;
  text-align: right;
}

/* 페이지 네비게이션 스타일 */
.pagination {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin-top: 20px;
}

.page-link {
  margin: 0 5px;
  padding: 10px 15px;
  text-decoration: none;
  color: #007bff;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.page-link:hover {
  background-color: #007bff;
  color: #fff;
}

.admin-logo {
    height: 15px;
}

/* 글쓰기 버튼 스타일 */
.write-button-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

.write-button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.write-button:hover {
  background-color: #218838;
}