@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(/image/background-img.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.editor-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

.editor-container {
  height: 1000px;
  width: 1000px;
  margin: 200px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.editor-container h2 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
  text-align: center;
  border-bottom: 2px solid #f2f2f2;
  padding-bottom: 10px;
}

.editor-toolbar {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.toolbar-btn {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toolbar-btn:hover {
  background-color: #ddd;
}

.editor-title {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.editor-content {
  min-height: 700px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.submit-btn {
  padding: 10px 20px;
  border: 0px;
  background-color: #28a745;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: block;
  margin-left: auto;
  width: max-content;

}

.submit-btn:hover {
  background-color: #218838;
}

.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
