<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div class="site-chatbot" th:fragment="chatbot">
    <div class="chatbot-button" id="chatbot-button">
        <i class="bi bi-chat"></i>
    </div>

    <!-- Chatbot Box -->
    <div class="chatbot-box hidden" id="chatbot-box">
        <div class="chatbot-header">
            <span>문의사항 챗봇</span>
            <button class="close-chatbot" id="close-chatbot">&times;</button>
        </div>
        <div class="chatbot-body" id="chatbot-body">
            <!-- 채팅 위치 -->
        </div>

        <div class="chatbot-footer" id="chatbot-footer">
            <div class="persistent-menu hidden" id="persistent-menu">
                <!-- 고정 메뉴 버튼 -->
            </div>
            <div class="chatbot-input-container">
                <input class="chatbot-input" id="chatbot-input" placeholder="메시지를 입력하세요..." type="text">
                <button class="send-message" id="send-message">전송</button>
            </div>
        </div>

    </div>
</div>

</body>
</html>
