<!DOCTYPE html>
<html lang="en">
  <head th:replace="admin/fragments/admin_head :: admin_head"></head>

  <!-- [Body] Start -->
  <body>
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
      <div class="loader-track">
        <div class="loader-fill"></div>
      </div>
    </div>
    <!-- [ Pre-loader ] End -->

    <div class="auth-main">
      <div class="auth-wrapper v3">
        <div class="auth-form">
          <div class="card mt-5">
            <div class="card-body sign-custom-body">
              <div class="m-header">
                <a th:href="@{/admin/main}" class="b-brand text-primary sideber-logo" style="justify-content: center">
                  <img th:src="@{/image/adminheartLinkLogo.png}" class="logo-image img-fluid" alt="Site logo">
                  <p class="logo-text">HEARTLINK</p>
                </a>
              </div>
              <h5 class="my-4 d-flex justify-content-center">관리자 등록을 위한 이메일을 입력해주세요.</h5>
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput2" placeholder="이메일 주소" >
                <label for="floatingInput2">이메일 주소</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingInput3" placeholder="비밀번호" >
                <label for="floatingInput3">비밀번호</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingInput3" placeholder="비밀번호 재입력" >
                <label for="floatingInput3">비밀번호 재입력</label>
              </div>
              <div class="d-grid mt-4">
                <button type="button" class="btn btn-secondary p-2">가입하기</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script th:replace="admin/fragments/admin_script::admin_script"></script>
  </body>
  <!-- [Body] end -->
</html>
