<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<link rel="stylesheet" th:href="@{/css/mypage.css}">

<main>
    <nav th:replace="fragments/navigation :: navigation"></nav>

    <section class="hero-section d-flex align-items-center">
        <div class="container d-flex justify-content-center">
            <div class="row d-flex justify-content-center align-items-start mypage-box">

                <div class="mypage-box-container d-flex">
                    <div class="sidebar-menu">
                        <ul class="menu-list">
                            <li><a th:href="@{/mypage/main}">내 정보</a></li>
                            <li class="active"><a th:href="@{/mypage/hobby}">성향/취미</a></li>
                            <li><a th:href="@{/mypage/review}">내 후기</a></li>
                            <li><a th:href="@{/mypage/feedlike}">피드 좋아요 목록</a></li>
                            <li><a th:href="@{/mypage/proflike}">프로필 좋아요 목록</a></li>
                            <li><a th:href="@{/mypage/cash}">결제 내역</a></li>
                            <li><a th:href="@{/mypage/match}">매칭 내역</a></li>
                            <li><a th:href="@{/mypage/delete}">회원 탈퇴</a></li>
                        </ul>
                    </div>
                    <div class="custom-block d-flex flex-column align-items-start text-left p-4">

                        <div class="text-center mb-5 pb-2 w-100">
                            <h3 class="text-primary-color">취미 수정</h3>
                            <hr class="mypage-line">
                        </div>
                        <p class="mb-4 fw-normal">
                            최대 5개씩 선택이 가능합니다.
                        </p>
                        <form method="post" action="/mypage/hobbyedit/submit">
                            <div class="checkbox-list">
                                <label><input type="checkbox" name="hobbies" value="여행"> 여행</label>
                                <label><input type="checkbox" name="hobbies" value="영화 감상"> 영화 감상</label>
                                <label><input type="checkbox" name="hobbies" value="음악 감상"> 음악 감상</label>
                                <label><input type="checkbox" name="hobbies" value="독서"> 독서</label>
                                <label><input type="checkbox" name="hobbies" value="요리"> 요리</label>
                                <label><input type="checkbox" name="hobbies" value="사진 찍기"> 사진 찍기</label>
                                <label><input type="checkbox" name="hobbies" value="운동"> 운동</label>
                                <label><input type="checkbox" name="hobbies" value="게임"> 게임</label>
                                <label><input type="checkbox" name="hobbies" value="드라이브"> 드라이브</label>
                                <label><input type="checkbox" name="hobbies" value="캠핑"> 캠핑</label>
                                <label><input type="checkbox" name="hobbies" value="등산"> 등산</label>
                                <label><input type="checkbox" name="hobbies" value="수영"> 수영</label>
                                <label><input type="checkbox" name="hobbies" value="요가"> 요가</label>
                                <label><input type="checkbox" name="hobbies" value="댄스"> 댄스</label>
                                <label><input type="checkbox" name="hobbies" value="미술"> 미술</label>
                                <label><input type="checkbox" name="hobbies" value="뒹굴거리기"> 뒹굴거리기</label>
                                <label><input type="checkbox" name="hobbies" value="음식 탐방"> 음식 탐방</label>
                                <label><input type="checkbox" name="hobbies" value="스포츠 관람"> 스포츠 관람</label>
                                <label><input type="checkbox" name="hobbies" value="악기 연주"> 악기 연주</label>
                                <label><input type="checkbox" name="hobbies" value="패션 스타일링"> 패션 스타일링</label>
                                <label><input type="checkbox" name="hobbies" value="디지털 아트"> 디지털 아트</label>
                                <label><input type="checkbox" name="hobbies" value="요트"> 요트</label>
                                <label><input type="checkbox" name="hobbies" value="서핑"> 서핑</label>
                                <label><input type="checkbox" name="hobbies" value="보드 게임"> 보드 게임</label>
                                <label><input type="checkbox" name="hobbies" value="자전거 타기"> 자전거 타기</label>
                                <label><input type="checkbox" name="hobbies" value="마라톤"> 마라톤</label>
                                <label><input type="checkbox" name="hobbies" value="여행 기획"> 여행 기획</label>
                                <label><input type="checkbox" name="hobbies" value="DIY 공예"> DIY 공예</label>
                                <label><input type="checkbox" name="hobbies" value="천체 관측"> 천체 관측</label>
                                <label><input type="checkbox" name="hobbies" value="정원 가꾸기"> 정원 가꾸기</label>
                                <label><input type="checkbox" name="hobbies" value="악기 연주"> 악기 연주</label>
                                <label><input type="checkbox" name="hobbies" value="인테리어 디자인"> 인테리어 디자인</label>
                            </div>
                            <div class="form-actions d-flex justify-content-center mt-4">
                                <button type="submit" class="btn-submit">수정</button>
                                <button type="button" class="btn-cancel" th:onclick="'location.href=\'' + @{/mypage/hobby} + '\''">취소</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>

<footer th:replace="fragments/footer :: footer"></footer>

<!-- JAVASCRIPT FILES -->
<script th:src="@{/js/reference_js/jquery.js}"></script>
<script th:src="@{/js/reference_js/jquery.min.js}"></script>
<script th:src="@{/js/reference_js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/reference_js/owl.carousel.min.js}"></script>
<script th:src="@{/js/mypage/mypage.js}"></script>

</body>
</html>
