<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/admin_head :: admin_head"></head>
<body>

<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>

<!--사이드 바-->
<nav th:replace="admin/fragments/sidebar_menu :: sidebar_menu"></nav>

<!-- nav 헤더 start -->
<header th:replace="admin/fragments/admin_header :: admin_header"></header>

<div class="pc-container">
    <div class="pc-content">
        <div class="page-header">
            <h5 class="m-b-10">환불 처리</h5>
        </div>

        <div class="row custom-admin-board">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                    </div>
                    <nav class="custom-navigation" aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 스크립트 모듈 -->
<script th:replace="admin/fragments/admin_script::admin_script"></script>
</body>
</html>