<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="admin_header" class="pc-header">
    <div class="header-wrapper"> <!-- [Mobile Media Block] start -->
        <div class="me-auto pc-mob-drp">
            <ul class="list-unstyled">
                <li class="pc-h-item header-mobile-collapse">
                    <a href="#" class="pc-head-link head-link-secondary ms-0" id="sidebar-hide">
                        <i class="ti ti-menu-2"></i>
                    </a>
                </li>
            </ul>
        </div>


<!--        알림 창 -->
        <div class="ms-auto">
            <ul class="list-unstyled">
                <li class="dropdown pc-h-item">
                    <a class="pc-head-link head-link-secondary dropdown-toggle arrow-none me-0" data-bs-toggle="dropdown" href="#"
                       role="button" aria-haspopup="false" aria-expanded="false">
                        <i class="ti ti-bell"></i>
                    </a>
                    <div class="dropdown-menu dropdown-notification dropdown-menu-end pc-h-dropdown">
                        <div class="dropdown-header">
                            <h5>새로운 알림 <span class="badge bg-warning rounded-pill ms-1">02</span></h5>
                        </div>
                        <div class="dropdown-header px-0 text-wrap header-notification-scroll position-relative"
                             style="max-height: calc(100vh - 215px)">
                            <div class="list-group list-group-flush w-100">
                                <div class="list-group-item list-group-item-action custom-alarm-item">
                                    <div class="d-flex">
                                        <div class="flex-grow-1 ms-1">
                                            <h5>접수된 신고</h5>
                                            <p class="text-body fs-6">11건의 새로운 신고가 접수되었습니다.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group list-group-flush w-100">
                                <div class="list-group-item list-group-item-action custom-alarm-item">
                                    <div class="d-flex">
                                        <div class="flex-grow-1 ms-1">
                                            <h5>접수된 문의</h5>
                                            <p class="text-body fs-6">5건의 새로운 신고가 접수되었습니다.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dropdown pc-h-item header-user-profile">
                    <a class="pc-head-link head-link-primary dropdown-toggle arrow-none me-0" data-bs-toggle="dropdown" href="#"
                       role="button" aria-haspopup="false" aria-expanded="false">
                        <img th:src="@{/image/admin/user/avatar-2.jpg}" alt="user-image" class="user-avtar" >
                        <span>
            <i class="ti ti-settings"></i>
          </span>
                    </a>
                    <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown">
                        <div class="dropdown-header custom-admin-header">
                            <h4>qwef012@heartlink.com</h4>
                            <p class="text-muted">관리자</p>
                            <hr class="admin-user-hr">
                            <div class="profile-notification-scroll position-relative" style="max-height: calc(100vh - 280px)">
                                <a th:href="@{/pages/login-v1}" class="dropdown-item">
                                    <i class="ti ti-logout"></i>
                                    <span>Logout</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>